@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('http://fonts.googleapis.com/css?family=Crimson+Text');

.CodeMirror pre {
    font-family: "Source Code Pro";
	font-size: 12pt;
}
div.output pre{
    font-family: "Source Code Pro";
    font-size: 13pt;
}
div.prompt{
    font-family: "Source Code Pro";
    font-size: 13pt;
}
div.completions select{
    font-family: "Source Code Pro";
    font-size: 11pt;
}
div.completions select{
    font-family: "Source Code Pro";
    font-size: 11pt;
}

div.text_cell {
    max-width: 90ex; /* instead of 100%, */
}

div.text_cell_render {
    font-family: "Source Code Pro";
    font-size: 13pt;
    line-height: 185%; /* added for some line spacing of text. */
}



div#notebook {
    background-color: #F1F1F6;
}
/* #eee8d5 */
.cm-s-ipython div.CodeMirror-selected {background: #000000 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #fdf6e3; border-right: 0px;}
.cm-s-ipython span.cm-comment {color: #E50000;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #657b83 !important;}
.cm-s-ipython span.cm-number {color: #6c71c4;}
.cm-s-ipython .CodeMirror-linenumber {color: #839496;}
.cm-s-ipython span.cm-operator {color: #d33682;}
.cm-s-ipython span.cm-builtin {color: #6c71c4;}


